layout {

    focus-ring {
        active-color   "#f6bc70"
        inactive-color "#18120c"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#f6bc70"
        inactive-color "#18120c"
        urgent-color   "#ffb4ab"
    }


    tab-indicator {
        active-color   "#f6bc70"
        inactive-color "#643f00"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#f6bc7080"
    }
}

recent-windows {
    highlight {
        active-color "#f6bc70"
        urgent-color "#ffb4ab"
    }
}
